
@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
  box-sizing: border-box;
}

.copyright {
  position: absolute;
  bottom: 0;
}
.copyright a {
  text-decoration: none;
  color: #16a085;
}
.copyright a:hover {
  text-decoration: underline;
}

.button {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  width: 100%;
}
.button.type1 {
  color: #566473;
}
.button.type1.type1::after, .button.type1.type1::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.button.type1.type1::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #566473;
  border-right-color: #566473;
}
.button.type1.type1::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #566473;
  border-left-color: #566473;
}
.button.type1.type1:hover:after, .button.type1.type1:hover:before {
  width: 100%;
  height: 100%;
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
body, html {
  background: #e4e2e2;
  width: 100%;
  height:100%;
}

.button.type2 {
    color: #16a085;
  }
  .button.type2.type2:after, .button.type2.type2:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #16a085;
    transition: all 0.3s ease;
    transform: scale(0.85);
  }
  .button.type2.type2:hover:before {
    top: 0;
    transform: scale(1);
  }
  .button.type2.type2:hover:after {
    transform: scale(1);
  }
  .conteudo{
    background: #fefefe;
    padding-bottom:40px;
    box-shadow: 1px 6px 9px 7px #4f4b4b;
    height: 90vh;
  }

  .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #75618b;
}

#logo{
  margin: 0 auto;
  background-image: url("../img/logo.png");
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #75618b;
}

  .divStyle {
    height: 200px;
    margin: 20px auto;
    background: transparent;
    border-radius: 10px;
}
svg{
  color:white;
}

.divStyle2{
    height: 200px;
    margin: 20px auto;
    background: transparent;
    border-radius: 10px;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 
#menu{
  background: #fefefe;
  border-bottom: 3px solid #75618b;
}
#menu a{
  color: black;
}
#menu a:hover{
  color: #575555;
  text-decoration: none;
}
#menuFooter{
  padding: 10px;
  bottom: 0px;
  position: fixed;
  width: 100%;
  background: linear-gradient(to bottom right, #75618b, #383939);
}
.App-payment{
  padding: 0;
}
.titulo{
  font-weight: bold;
}