.login-box {
    position : absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    box-shadow: 5px 10px 8px 10px #4f4b4b;
    width: 300px;
    padding: 1em;
}

.login-box input {
    display: block;
    border-radius: 5px;
    margin: 1em auto;
    border: 1px solid #dbdbdb;
}

.login-box input[type='submit'] {
    background: #3897f0;
    border-color: #3897f0;
    color: white; 
    cursor: pointer;   
    border-radius: 0px;
    width: 100%;
}

@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
  box-sizing: border-box;
}
.visibletse{
  visibility:visible;
  display: block;
}
#loading-full {
  position:absolute;
  display:none;
  width:100%;
  height:100%;
  left:0px;
  right:0px;
  background-color:#5f4e65;
  opacity:0.65;
  z-index:999;
}
.spinner {
  position: absolute;
  left: 45%;
  top: 45%;
  bottom: 45%;
  right: 45%;
  height:60px;
  width:60px;
  margin:0px auto;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left:6px solid rgba(50, 169, 41, 0.15);
  border-right:6px solid rgba(45, 158, 77, 0.15);
  border-bottom:6px solid rgba(44, 170, 71, 0.15);
  border-top:6px solid rgba(9, 123, 45, 0.8);
  border-radius:100%;
}
#loading-full2 {
  position:absolute;
  display:none;
  width:100%;
  height:100%;
  left:0px;
  right:0px;
  background-color:#5f4e65;
  opacity:0.9;
  z-index:999;
}
.spinner2 {
  position: absolute;
  left: 40%;
  top: 40%;
  bottom: 40%;
  right: 40%;
  height:60px;
  width:60px;
  margin:0px auto;
}
@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}


.copyright {
  position: absolute;
  bottom: 0;
}
.copyright a {
  text-decoration: none;
  color: #16a085;
}
.copyright a:hover {
  text-decoration: underline;
}

.button {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  width: 100%;
}
.button.type1 {
  color: #566473;
}
.button.type1.type1::after, .button.type1.type1::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.button.type1.type1::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #566473;
  border-right-color: #566473;
}
.button.type1.type1::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #566473;
  border-left-color: #566473;
}
.button.type1.type1:hover:after, .button.type1.type1:hover:before {
  width: 100%;
  height: 100%;
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
body, html {
  height: 100%;
  background: linear-gradient(to bottom right, #75618b, #383939);
}

.button.type2 {
    color: #16a085;
  }
  .button.type2.type2:after, .button.type2.type2:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #16a085;
    transition: all 0.3s ease;
    transform: scale(0.85);
  }
  .button.type2.type2:hover:before {
    top: 0;
    transform: scale(1);
  }
  .button.type2.type2:hover:after {
    transform: scale(1);
  }